<section class="password">
    <div class="password__container">
        <form [formGroup]="formData" (ngSubmit)="submit()" class="password__form">
            <input class="password__input" formControlName="password" type="password" placeholder="Password">
            <div [ngClass]="{
                'password__strength-minEight': statePasswordStrength === 'minEight',
                'password__strength-easy': statePasswordStrength === 'easy',
                'password__strength-medium': statePasswordStrength === 'medium',
                'password__strength-strong': statePasswordStrength === 'strong'
            }" class="password__strength">
                <div class="password__check"></div>
                <div class="password__check"></div>
                <div class="password__check"></div>
            </div>
        </form>
    </div>
</section>