.password {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__strength {
        display: flex;
        gap: 15px;

        &-minEight {
            .password__check {
                background-color: red;
            }
        }

        &-easy {
            .password__check {
                &:nth-child(1) {
                    background-color: red;
                }
            }
        }

        &-medium {
            .password__check {
                background-color: yellow;

                &:nth-child(3) {
                    background-color: gray;
                }
            }
        }

        &-strong {
            .password__check {
                background-color: green;
            }
        }
    }

    &__check {
        width: 100%;
        height: 50px;
        background-color: gray;
        border-radius: 15px;
    }
}

/* INPUT STYLES */
.password__input {
    min-width: 100%;
    height: 3.375rem;
    background: #F1F4F8;
    border-radius: 0.75rem;
    transition: border 0.8s ease 0s;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (any-hover: hover) {
        &:hover {
            &::placeholder {
                color: black;
            }
        }
    }

    &::placeholder {
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #8F8F8F;
        transition: color 0.3s ease 0s;

    }

    &:focus {
        outline: none;

        &::placeholder {
            opacity: 0;
            transition: opacity 0.3s ease 0s;
        }
    }
}