<div [ngClass]="{
    'password__strength-minEight': passwordService.statePasswordStrength === 'minEight',
    'password__strength-easy': passwordService.statePasswordStrength === 'easy',
    'password__strength-medium': passwordService.statePasswordStrength === 'medium',
    'password__strength-strong': passwordService.statePasswordStrength === 'strong'
}" class="password__strength">
    <div class="password__check"></div>
    <div class="password__check"></div>
    <div class="password__check"></div>
</div>