.password__strength {
    display: flex;
    gap: 15px;

    &-minEight {
        .password__check {
            background-color: #b50000;
        }
    }

    &-easy {
        .password__check {
            &:nth-child(1) {
                background-color: #b50000;
            }
        }
    }

    &-medium {
        .password__check {
            background-color: #d5d55b;

            &:nth-child(3) {
                background-color: gray;
            }
        }
    }

    &-strong {
        .password__check {
            background-color: #3da33d;
        }
    }
}

.password__check {
    width: 100%;
    height: 9px;
    background-color: gray;
    border-radius: 15px;
    transition: background-color 0.3s ease 0s;

}